*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
header{
  padding: 25px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.Title{
  font-family: 'Fraunces', serif;
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 4rem;
  width: 700;
  top: 150px;
  color: hsl(0, 0%, 100%);
  letter-spacing: 7px;
}

.Arrow{
  position: absolute;
  top: 345px;

  left: 50%;
  transform: translate(-50%, -50%);
  
}


/* .FirstImageContainer{
  width: 100%;
  height: 100vh;

} */

.FirstImage,
.SecondImage
{
  width: 100%;
  display: block;
}


